# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3d3e57b28d47942f5c23d6bc191bd28ffaa9f78afb2293e1bbec8a784c8a2a9f46ef73cf918ceabe243e61ed7b402d15217b4f9d3cf481857ba7f86037c99c0a

test:
  secret_key_base: 4e81a9c5aa1aa19b49182be438868a9fe5cc56eb7ebd8cc9d07a7311b56778e82bba278d2722999057971282086a8ffe68d9c8ad44c3889441f8f313cbcde24d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
